@use '../_base.scss';

.gameCard {
  width: 80%;
  max-width: 400px;
  box-shadow: 1px 1px 5px #00000072;
  margin: 20px 0;
  @include base.border-style;
  overflow: hidden;
  
  display: flex;
  flex-direction: column;

  header {
    background-color: base.$orage;
    box-shadow: 0 2px 5px 2px base.$orage;
    margin-bottom: 30px;
    :first-child {
      font-weight: bold;
    }
  }
  header, section {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .edit {
    font-style: italic;
    color: #000000b2;
    text-align: right;
    padding: 10px 15px;
  }
  .won {
    font-weight: bolder;
    background-color: base.$green;
    padding: 5px;
    margin: 0 10px;
    border-radius: 3px;
  }
}