@use '../_base.scss';

.AddGamePage {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    input {
      padding: 5px 15px;
    }
  }

  .playerInput {
    @include base.flex-a-column;
    gap: 5px;

    section {
      @include base.flex-a-row;
      gap: 5px;
    }
  }
}