// https://pigment.shapefactory.co/?a=E9A46F&b=2AA26D

$green: #49C391;
$orange: #FBBA85;

@mixin border-style {
  border: 1px solid black;
  border-radius: 5px;
}

@mixin flex-a-row($align: center) {
  display: flex;
  flex-direction: row;
  align-items: $align;
}

@mixin flex-a-column($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}