@use './_base.scss';

* {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 90vw;
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #fffcf2;
  overflow-x: hidden; //plz do it properly next time
}

.page {
  @include base.flex-a-column;
  gap: 20px;
}